In [5]:
import os
import pandas as pd

In [15]:
path = './csv'
list_csv = os.listdir(path)
list_df = [pd.read_csv(path+ '/'+csv).drop(columns='Unnamed: 0') for csv in list_csv]

In [16]:
list_df[0].head(5)

,product,comment
0,"MSI GE76 Raider 17.3"" 144Hz Gaming Laptop Inte...",I ordered this laptop through Amazon after rea...
1,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,NaN
2,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,I got it because I wanted a laptop that I can ...
3,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,"Excelente laptop, un estilo sin igual, los col..."
4,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,I got this device a few weeks ago and wanted t...

In [17]:
df = pd.DataFrame(columns = ['product','comment'])
for i in list_df:
    df = df.append(i,ignore_index=True)

In [19]:
df.drop_duplicates()

,product,comment
0,"MSI GE76 Raider 17.3"" 144Hz Gaming Laptop Inte...",I ordered this laptop through Amazon after rea...
1,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,NaN
2,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,I got it because I wanted a laptop that I can ...
3,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,"Excelente laptop, un estilo sin igual, los col..."
4,Acer ConceptD 3 Ezel CC314-72G-72SX Convertibl...,I got this device a few weeks ago and wanted t...
...,...,...
67665,"Samsung 11.6"" HD Chromebook, Intel Celeron Pro...","It's click and go, it does everything I need i..."
67666,"Samsung 11.6"" HD Chromebook, Intel Celeron Pro...",If you're as familiar with Chromebooks as I am...
67667,"Samsung 11.6"" HD Chromebook, Intel Celeron Pro...",The screen quality is very good for what I pai...
67668,"Samsung 11.6"" HD Chromebook, Intel Celeron Pro...","So far no complaints, great sound and picture ..."
67669,"Samsung 11.6"" HD Chromebook, Intel Celeron Pro...",Got it for my kid to do school work and it wor...

In [24]:
print(df.isna().sum())
df.dropna(inplace=True)

product    0
comment    0
dtype: int64
66836

In [27]:
df.to_csv('./amazon.csv',index= False)